{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "debug":true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
