#projectGraph{
    width: 100%;
    height: 75vh;
    /* background-color: rgb(219, 246, 237); */
    background-color: #393e46;
    border-radius: 30px;
    /* box-shadow: 0 15px 40px #7ed56f; */
    outline: none;
  }

 #graphWrapper{
    display: flex;
    justify-content: center;
  }

  .getProjectDataButton{
    background-color: #fff;
    border: none;
    color: #2998ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}


#getProjectData:hover{
    background-color: #2998ff; /* Green */
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
}

#tabs-wrapper{
  background-image: linear-gradient(to bottom, #6dc5ff, #2998ff);
  display: flex;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  box-shadow: 3px 3px 30px #000;
}

#displayWrapper{
  width:80%;
}

.tabsButton{
  margin-right:15px;
  background-color: #fff;
  border: none;
  color: #2998ff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
}

.tabsButton:hover{
  background-color:#2998ff;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 10px #000;
}

.tabsButtonActive{
  background-color:#2998ff !important;
  color: #fff !important;
  box-shadow: 0px 0px 10px #000 !important;
  }

  .hideElement{
    display: none;
  }

  .showElement{
    display: block;
  }

  .inputWrapperActive{
    display: flex !important;
  }


  .inputOptionsWrapper{
    background-image: linear-gradient(to bottom, #6dc5ff, #2998ff);
    flex-direction: column;
    margin-right: 30px;
    padding: 10px;
    border-radius: 30px;
    padding-top: 120px;
    box-shadow: 3px 3px 30px #000;
  }

  .optionsWrapper{
    display: none;
    flex-direction: column;
  }

  .checkboxWrapper{
    padding-bottom: 40px;
  }
  input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

#loader{
  font-size: 30px;
  padding-top: 200px;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: red;
}
#loaderCat{
  -webkit-animation: rotation 1.5s infinite linear;
  width: 250px;
  height: 250px;
  background-image: url("loadingCat.jpg");
  background-size: contain;
  transform: scale(2, 0.5); /* Equal to scaleX(2) scaleY(0.5) */
  transform-origin: left;
}

.isLoaderActive{
  display: flex !important;
}
.displayNone{
  display:none;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.pointer:hover{
  cursor: pointer;
}