#projectGraph{
    width: 60%;
    height: 550px;
    border: 1px solid lightgray;
    background-color: rgb(219, 246, 237)
  }

 #graphWrapper{
    display: flex;
    justify-content: center;
  }

  #getProjectStructure{
    background-color: rgb(6, 86, 190);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#graphOptionsWrapper{
    background-color:rgb(175, 250, 225);
    display: flex;
    flex-direction: column;
  }

#getProjectStructure:hover{
    background-color: rgb(42, 110, 199); /* Green */
    cursor: pointer;
}