#projectGraph{
    width: 60%;
    height: 550px;
    /* background-color: rgb(219, 246, 237); */
    background-color: #393e46;
    border-radius: 30px;
    /* box-shadow: 0 15px 40px #7ed56f; */
    outline: none;
  }

 #graphWrapper{
    display: flex;
    justify-content: center;
  }

  #getProjectStructure{
    background-color: #fff;
    border: none;
    color: #2998ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

#graphOptionsWrapper{
    /* background-color: #00adb5; */
    background-image: linear-gradient(to bottom, #6dc5ff, #2998ff);
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 10px;
    border-radius: 30px;
    padding-top: 120px;
    box-shadow: 3px 3px 30px #000;
  }

#getProjectStructure:hover{
    background-color: #2998ff; /* Green */
    color: white;
    cursor: pointer;
}