
.example-string-module-wrapper{
    margin:8px;
    padding: 8px;
    display:flex;
    text-align: center;
    flex-direction: column;
    color: #370D00;
    border: 1px solid #370D00;
    background-color: #D5D2C1;
}