
.header-wrapper{
    margin-bottom:8px;
    padding: 8px;
    display:flex;
    text-align: center;
    flex-direction: column;
    color: #2998ff;
    background-color: #393e46;
    font-size: 25px;
}