.footer-wrapper{
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:8px;
    padding: 16px;
    color: #fff;
    background-color: #393e46;
}

.footer-about{

}
