
.example-string-module-wrapper2{
    margin:10px;
    padding: 16px;
    display:flex;
    text-align: center;
    flex-direction: column;
    color: #FA6900;
    border: 1px solid #370D00;
    background-color: #63D3FF;
}

#myButton{
    background-color: rgb(6, 86, 190);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myButton:hover{
    background-color: rgb(42, 110, 199); /* Green */
    cursor: pointer;
}